@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css";
/* https://materialdesignicons.com/ */

body {
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  /* font-family: "Agency FB"; */
  /* font-family: "Arial Narrow"; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* font-family: "Haettenschweiler"; */
  /* font-family: "Stencil"; */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.card-box {
  width: 240px;
  height: 335px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  padding: 5px;
  min-height: 200px;
}

.character-name {
  background-color: #eee;
  padding: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 11px;
  font-size: 11px;
  /* width: 100%; */
}

.character-cost {
  height: 15px;
  width: 30px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  border: 1px solid #888;
  /* padding: 5px; */
  padding-top: 1px;
  font-size: 10px;
  line-height: 10px;
  /* //color: #fff; */
}

.character-trait {
  margin-top: 1px;
  border: 1px solid #aaa;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;

  font-weight: bold;
  margin-right: 2px;
  line-height: 10px;
  font-size: 10px;
  /* // width: 510px; */
  height: 25px;
}

.character-ability {
  font-size: 9px;
  font-weight: lighter;
  background-color: #eee;
  line-height: 10px;
  padding: 2px;
  border: 1px solid #888;
  border-radius: 4px;
  margin-top: -20px;
  margin-bottom: 5px;
  height: 45px;
}

.character-ability-name {
  display: inline;
  float: right;
  border: 1px solid #aaa;
  margin-top: -7px;
  margin-right: 5px;
  background-color: #eee;
  padding-right: 4px;
  padding-left: 4px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  clear: none;
  display: inline;
}

.character-ability-description {
  /* float: left;
  clear: none;
  display: inline; */
  margin-top: 5px;
  text-transform: uppercase;
}

.ability-box {
  border: 1px solid #888;
  background-color: #eee;
  padding: 2px;
  font-size: 9px;
  line-height: 10px;
  text-transform: uppercase;
  height: 44px;
  border-radius: 0 10px 0 10px;
  font-weight: 100;
}

.ability-box-box {
  height: 36px;
}

.margin-test {
  margin-left: 30px;
  margin-top: -30px;
  border: 1px solid #aaa;
  padding: 0;
  padding-left: 10px;
  height: 10px;
  background-color: #fff;
  font-size: 8px;
  font-weight: bold;
}

.border {
  border: 1px solid #ccc;
  height: 29px;
  text-align: center;
  border-radius: 0 5px 0 5px;
}

.card-edit-form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.num {
  background-color: #fff;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #ccc;
}
